*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    .navbar{
        background-color: crimson;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        height: 65px;
    }
    .navdiv{
       display: flex;
       align-items: center;
       justify-content: space-between;
       
    }
    .logo a{
        font-size: 55px;
        font-weight: 600;
        color: white;
    }
    li{
        list-style: none;
        display: inline-block;
    }
    li a{
        color: white;
        font-size: 30px;
        font-weight: bold;
        margin-right: 25px;
    }
    .sect-1{
        text-align: center;
        background-color: blue;
        font-size: 50px;
        height: auto;
        font-weight: bold;
        text-shadow: 20px red;
    }
}